<h2><%= l(:label_failure_plural) %></h2>

<div class="autoscroll">
<table class="list">
  <thead><tr>
    <%= sort_header_tag('id', :caption => "#") %>
    <th><%= l(:label_login) %></th>
    <%= sort_header_tag('name', :caption => l(:field_type)) %>
    <%= sort_header_tag('created_at', :caption => l(:field_created_on), :default_order => 'desc') 
    %>
    <th></th>
  </tr></thead>
  <tbody>
<% @failures.each do |failure| %>
  <tr class="failure <%= cycle("odd", "even") %>">
    <td class="id"><%= failure.id %></td>
    <td class="login">
      <%= link_to_if failure.user_id.present?, failure.login, user_path(failure.id) %>
    </td>
    <td class="name">
      <strong><%= h failure.name %></strong><br>
      <%= h failure.short_message %>
    </td>
    <td class="created_at" align="center"><%= format_time(failure.created_at) %></td>
    <td class="buttons">
      <%= link_to l(:label_acknowledge), failure_path(failure, :acknowledged => 1), :method => :put %>
    </td>
  </tr>
<% end %>
  </tbody>
</table>
</div>
<p class="pagination"><%= pagination_links_full @failure_pages, @failure_count %></p>

<% html_title(l(:label_failure_plural)) -%>
