<div class=contextual>
  <%= link_to l(:label_acknowledge), failure_path(@failure, :acknowledged => 1), :method => :put %>
   |
  <%= link_to l(:label_acknowledge_similar), failure_path(@failure, :acknowledged => "similar"), :method => :put %>
</div>
<h2><%= link_to l(:label_failure_plural), failures_path %> &#187; <%= l(:label_failure) %> #<%= @failure.id %></h2>

<em class="info">
  <%= format_time(@failure.created_at) %> /
  <%= @failure.user_id.present? ? link_to(@failure.login, user_path(@failure.user_id)) : @failure.login %>
  <% if @failure.url.present? %>
    <br>
    <%= "#{l(:field_url)}: #{@failure.url}" %>
  <% end %>
</em>
<div class=failure-backtrace>
  <code>
    <strong><%= h @failure.name %></strong><br>
    <%= h(@failure.long_message).gsub("\n","<br>").html_safe %>
  </code>
</div>

<% html_title(l(:label_failure)) -%>
